html {
    scroll-behavior: smooth;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
    --bs-gutter-x: 48px !important;
}

.btn-primary__landing-page {
    background-color: #ff5f51 !important;
    border-color: #ff5f51 !important;
}

.btn-primary__landing-page:hover,
.btn-primary__landing-page:active {
    background-color: #de483a !important;
    border-color: #de483a !important;
}

.btn-succes__landing-page {
    background-color: #25D366 !important;
    border-color: #25D366 !important;
}

.btn-succes__landing-page:hover, .btn-succes__landing-page:active {
    background-color: #22b759 !important;
    border-color: #22b759 !important;
}

.bg-badge {
    background-color: red !important;
    padding: 10px 8px !important;
}

.right-0 {
    right: 0 !important;
}

.mb-sm {
    margin-bottom: 3rem;
}

.center-sm {
    text-align: center;
}

.text-headline {
    color: #ff5f51;
    font-weight: bold;
}

/* --------------------------------NAVBAR-------------------------------- */
header {
    transition: all 0.5s;
    background-color: #ffffff;
}

.color-logo {
    color: #ff5f51;
}

#landingPage .navbar {
    --bs-navbar-hover-color: #ff5f51 !important;
}

#landingPage .nav-item:not(:last-child) .nav-link {
    margin-right: 30px;
}

#landingPage .nav-link {
    font-weight: bold;
}

#landingPage .nav-link:hover {
    color: #ff5f51 !important;
}

#landingPage .nav-item:not(:nth-child(2)) .nav-link::after {
    content: "";
    display: block;
    border-bottom: 2px solid #ff5f51;
    width: 20%;
    margin: 2px 0 0 0;
    opacity: 0;
    transition: all 0.1s;
}

#landingPage .nav-item:not(:nth-child(2)) .nav-link:hover::after {
    opacity: 1;
}

/* Navbar Colection */
#landingPage .dropdown-menu {
    border-radius: 12px;
    background: #ffffff;
    width: 30%;
}

#landingPage .dropdown-item {
    font-weight: bold;
}

/* --------------------------------HERO-------------------------------- */
#hero {
    background-color: #FFF9EE;
    height: 70vh;
}

#hero .title::after {
    content: '';
    background-image: url(../images/backgrounds/bg-title.png);
    width: 100px;
    display: block;
}

/* #hero .title {
    width: 100%;
    height: 45px;
}

#hero .bg-title {
   width: 23%;
   height: 100%;
   z-index: 1;
   border-radius: 23px;
}

#hero .bg-title img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

#hero h1 {
    z-index: 2;
} */

#hero .swiper {
    width: 100%;
    height: 250px;
}

#hero .swiper-slide img, #galeri .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#hero .swiper-pagination-bullet-active, #galeri .swiper-pagination-bullet-active {
    background: #ff5f51 !important;
}

#hero .swiper-button-next, #hero .swiper-button-prev {
    color: #ff5f51 !important;
}

#hero .img-container {
    margin-left: 5rem;
}

/* --------------------------------GALERI-------------------------------- */
#galeri {
    background-color: #F9F9F9;
}

#galeri .swiper {
    width: 100%;
    height: 210px;
}

#galeri .swiper-pagination {
    position: static !important;
}

/* --------------------------------SMART BUY-------------------------------- */
.bg-smart-buy {
    background-color: #99eef4;
}

.bg-smart-buy-1 {
    background-color: #f9f9f9;
}

#smart-buy .card {
    background-color: unset;
    box-shadow: none;
}

#smart-buy .img-container {
    width: 100%;
    height: 265px;
    margin: 0 auto;
    overflow: hidden;
}

#smart-buy .img-container img,
#product img,
#testimoni img,
#product-list img,
#partner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

#smart-buy ul {
    padding-left: 2rem;
}

#smart-buy ul li {
    font-weight: 600 !important;
    color: black !important;
    margin-bottom: 6px;
    padding-left: 1ch;
}

#smart-buy ul li::marker {
    content: "»";
    color: #ff5f51;
    font-size: 18px;
}

#smart-buy h2 {
    color: #ff5f51;
    font-weight: bold;
}

#smart-buy .cart-text {
    font-weight: normal !important;
    font-size: 17px !important;
}

#smart-buy .ps-5 {
    padding-left: 12px !important;
}

/* --------------------------------PRODUCT-------------------------------- */
#product {
    scroll-margin-top: 12rem;
}

#product .card,
#product-list .card {
    transition: transform 0.3s ease-out;
}

#product .card:hover,
#product-list .card:hover {
    transform: translate(0, -8px);
}

#product .thumbnail,
#product-list .thumbnail {
    width: 100%;
    height: 210px;
    overflow: hidden;
}

#product .card-footer,
#product-list .card-footer {
    background-color: #ffffff !important;
}

/* --------------------------------DETAIL PRODUCT-------------------------------- */


.product-description {
    background-color: #d4e5e7 !important;
    margin-bottom: 20px;
    padding-top: 10px;
    height: auto;
    width: 400px;
    overflow: hidden; /* Menghindari teks melewati batas container */
    text-overflow: ellipsis; /* Menambahkan tanda elipsis (...) jika teks terlalu panjang */
    white-space: nowrap; /* Mencegah teks melanjutkan ke baris berikutnya */
    /* margin-top: 10px; */


}

.product-full {
    white-space: normal; /* Memungkinkan teks untuk melanjutkan ke baris berikutnya */
}


.product-button {
    display: flex;
    justify-content: right;
    margin-bottom: 10px;
    height: auto;
}

.produk-img {
    width: 530px;
    height: 412px;
}


.show-more {
    float: right;
    margin-top: 10px;
}




/* --------------------------------TESTIMONI-------------------------------- */
#testimoni {
    background-color: #f4f1da;
}

#testimoni .card {
    box-shadow: none !important;
}

#testimoni .thumbnail {
    width: 100%;
    height: 410px;
    overflow: hidden;
}

/* --------------------------------PARTNER-------------------------------- */
#partner {
    background-color: #f6ead6;
}

#partner .logo-container {
    width: -moz-fit-content;
    width: fit-content;
    height: 100px;
}

/* --------------------------------MESSAGE-------------------------------- */
#message {
    background-color: #fff9ee;
}

#message h2::before, #message h2::after {
    content: "";
    display: block;
    border-bottom: 4px solid #ff5f51;
    width: 10%;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 10px;
    display: flex;
}

#message h2::before {
    margin-left: auto;
    margin-right: 15px;
}

#message h2::after {
    margin-left: 15px;
    margin-right: auto;
}

/* --------------------------------FOOTER-------------------------------- */
#footer {
    background-color: #d9d9d9;
}

#footer ul li {
    list-style: none;
    margin-bottom: 5px;
    cursor: pointer;
}

#footer a {
    text-decoration: none;
    color: inherit;
}

#footer a:hover {
    color: #ff5f51;
}

#footer .text-haki::before {
    content: "";
    display: block;
    border-bottom: 2px solid #cacaca;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 1.5rem;
}

#footer .container-lokasi {
    width: 100%;
    height: 100px;
}

#footer .container-lokasi img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* --------------------------------PRODUCT LIST-------------------------------- */
#product-list .active > .page-link,
#product-list .page-link.active {
    background-color: #ff5f51 !important;
    border-color: #ff5f51 !important;
}

#product-list .page-item a {
    color: #ff5f51 !important;
}

/* `md` applies to small devices (landscape phones, less than 768px) */
@media (min-width: 768px) {
    .mb-sm {
        margin-bottom: 0;
    }

    .center-sm {
        text-align: left;
    }

    #hero {
        height: 45vh;
    }

    #hero .swiper {
        height: 300px;
    }

    #smart-buy .ps-5 {
        padding-left: 3rem !important;
    }

    .swiper {
        height: 180px;
    }
}

@media (min-width: 992px) {
    #landingPage .nav-item:not(:nth-child(2)) .nav-link::after {
        width: 50%;
        margin: 2px auto 0 auto;
    }

    #hero {
        height: 85vh;
    }

    #hero .swiper {
        height: 450px;
    }

    #smart-buy .img-container {
        width: 70%;
    }

    .swiper {
        height: 210px;
    }


}
