/* Navbar */
header {
    transition: all 0.5s;
}

.nav-link{
    margin-right: 30px;
    font-weight: bold;
}

.nav-item:not(:nth-child(2)) .nav-link::after{
    content: '';
    display: block;
    border-bottom: 2px solid #5d87ff;
    width: 50%;
    margin: 2px auto 0 auto;
    opacity: 0;
    transition: all 0.1s;
} 

.nav-item:not(:nth-child(2)) .nav-link:hover::after{
    opacity: 1;
}

/* Navbar Colection */
.dropdown-menu{
    border-radius: 12px;
    background: #ffffff;
    width: 30%;
}

.dropdown-item {
    font-weight: bold;
}

/* Swiper Slider */
.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

@media (max-width: 575.98px) { 
    .nav-link:hover::after{
        display: none;
    }

    .dropdown-menu{
        padding: 1rem;
    }
 }

