.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
    --bs-gutter-x: 48px !important;
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #ff5f51;
    --bs-btn-border-color: #ff5f51;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #de483a;
    --bs-btn-hover-border-color: #de483a;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #de483a;
    --bs-btn-active-border-color: #0de483a;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #de483a;
    --bs-btn-disabled-border-color: #de483a;
}

.bg-danger {
    background-color: red !important;
}

.right-0 {
    right: 0 !important;
}

/* Navbar */
header {
    transition: all 0.5s;
}

.color-logo-strong {
    color: #F1C6A3;
}

.navbar {
    --bs-navbar-hover-color: #F1C6A3 !important;
}

.nav-item:not(:last-child) .nav-link {
    margin-right: 30px;
}

.nav-link {
    font-weight: bold;
}

.nav-link:hover {
    color: #F1C6A3 !important;
}

.nav-item:not(:nth-child(2)) .nav-link::after {
    content: "";
    display: block;
    border-bottom: 2px solid #F1C6A3;
    width: 50%;
    margin: 2px auto 0 auto;
    opacity: 0;
    transition: all 0.1s;
}

.nav-item:not(:nth-child(2)) .nav-link:hover::after {
    opacity: 1;
}

/* Navbar Colection */
.dropdown-menu {
    border-radius: 12px;
    background: #ffffff;
    width: 30%;
}

.dropdown-item {
    font-weight: bold;
}

/* HERO */
.hero {
    background-color: #F4F3EE;
}

/* Swiper Slider */
.carousel-item {
    width: 100% !important;
    height: 400px !important;
    overflow: hidden;
}

.carousel-item img {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
}

.carousel-indicators [data-bs-target] {
    background-color: #ff5f51 !important;
}

.carousel-control-prev:focus,
.carousel-control-prev:hover,
.carousel-control-prev:focus,
.carousel-control-next:hover {
    color: #ff5f51 !important;
}

/* ABOUT */
.text-headline {
    color: #ff5f51;
    font-weight: bold;
}

/* SMART BUY */
.bg-smart-buy {
    background-color: #FFFBF3;
}

.bg-smart-buy-1 {
    background-color: #F9F9F9;
}

.smart-buy .card {
    background-color: unset;
    box-shadow: none;
}

.image-sb .img-container {
    width: 350px;
    margin: 0 auto;
    overflow: hidden;
}

.img-container img, .produk img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.smart-buy ul {
    list-style: circle;
    padding-left: 2rem;
}

.smart-buy ul li {
    font-weight: 600 !important;
    color: black !important;
}

.smart-buy h2 {
    color: #ff5f51;
    font-weight: bold;
}

.smart-buy .cart-text {
    font-weight: normal !important;
    font-size: 17px !important;
}

.produk .thumbnail {
    width: 100%;
    height: 240px;
    overflow: hidden;
}

.produk img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .nav-link:hover::after {
        display: none;
    }

    .dropdown-menu {
        padding: 1rem;
    }

    .carousel-item {
        height: 200px !important;
    }

    .headline {
        text-align: center !important;
        margin-bottom: 3rem;
    }
}

/* `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 991.98px) {

}
