/* Navbar */
/* Navbar Tulisan */
.nav-link{
    text-transform: uppercase;
    margin-right: 30px;
    color: #090909;
}

/* .nav-link:hover::after{
    content: '';
    display: block;
    border-bottom: 3px solid #122cd7;
    width: 50%;
    margin: auto;
    padding-bottom: 5px;
    margin-bottom: -8px;
} */

/* Navbar Colection */
.dropdown-colection{
    text-transform: uppercase;
    color: #090909;

}

.dropdown-menu{
    border-radius: 18px;
    background: #ffffff;
    width: 30%;
}
